<div id="big-div" class="page-background">

    <h1 id="titlu" class="text-white text-center">Welcome</h1>


    <h1 id="titlu2" class="text-white text-center">{{page.title}}</h1>
</div>

<div class="blog-head-container">
    <div class="blog-title">
        {{page.title}}
    </div>
</div>

<nav id="sticky-nav" class="navbar navbar-dark navbar-expand-lg">
    <a href="/ionncelrau/" class="navbar-brand">
        <img src="/ionncelrau/assets/img/company-logo.png" width="130" height="60">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% for page in site.pages %} {% if page.title %}
            <li class="nav-item"><a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
            {% endif %} {% endfor %}
        </ul>
    </div>



</nav>
<div class="social-media" id="social-media">{% include social-media.html %}</div>

<style>
    .blog-head-container {
        min-height: 18vw;
        background-image: url(/ionncelrau/assets/img/blog.jpg);
        background-position: center;
        background-size: cover;
    }

    .blog-title {
        position: absolute;
        left: 48%;
        font-size: 3.2vw;
        top: 6vw;
        font-weight: bold;
        transform: translate(-50%, -50%);
    }
</style>