
<div id="big-div" class="page-background">

    <h1 id="titlu" class="text-white text-center">Welcome</h1>


    <h1 id="titlu2" class="text-white text-center">{{page.title}}</h1>
</div>

<div class="blog-head-container">
    <div class="blog-title text-center">
        {{page.title}}
        <hr>
        <em class="text-center">{{page.subtitle}}</em>
    </div>
</div>

<nav id="sticky-nav" class="navbar navbar-dark navbar-expand-lg">
    <a href="/" class="navbar-brand">
        <img src="/assets/img/logo_transparent.png" width="130" height="60">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% assign links = site.data.navigation %}
            {% for link in links %}
            {% assign class = 'nav-item' %}
            {% if page.url contains link.url %}
            {% assign class = 'nav-item-active' %}
            {% endif %}
            {% if link.sublinks %}
            <li class="dropdown {{ class }}">
                <span href="{{ site.baseurl }}{{ link.url }}')" class="nav-link dropdown-toggle" data-toggle="dropdown"
                    role="button" aria-haspopup="true" aria-expanded="false">{{ link.title }}
                    <span class="caret"></span></span>
                <ul class="dropdown-menu">
                    {% for sublink in link.sublinks %}
                    {% if sublink.title == 'separator' %}
                    <li role="separator" class="divider"></li>
                    {% else %}
                    <li>
                        <a class="nav-link" href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% else %}
            <li class="{{ class }}">
                <a class="nav-link" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
</nav>

</div>
</nav>
<div class="social-media" id="social-media">{% include social-media.html %}
</div>

<style>
    .blog-head-container {
        min-height: 18vw;
        background-image: url(/assets/img/blog.jpg);
        background-position: center;
        background-size: cover;
    }

    .blog-title {
        position: absolute;
        left: 46%;
        font-size: 3.2vw;
        top: 10vw;
        font-weight: bold;
        transform: translate(-50%, -50%);
    }
</style>