<div id="big-div" class="page-background">

    <h1 id="titlu" class="text-white text-center">Welcome</h1>


    <h1 id="titlu2" class="text-white text-center">{{page.title}}</h1>
</div>

<nav id="sticky-nav" class="navbar navbar-dark navbar-expand-lg bg-dark">
    <a href="/ionncelrau/" class="navbar-brand">
        <img src="/ionncelrau/assets/img/company-logo.png" width="130" height="60">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav"> {% for page in site.pages %} {% if page.title %}
            <li class="nav-item"><a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
            {% endif %} {% endfor %}
        </ul>
    </div>



</nav>