<nav role="navigation" class="site-navigation navbar navbar-expand-md constnav">
    <div class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <div class="bar-container" onclick="myFunction(this)">
            <div class="bar-1"></div>
            <div class="bar-2"></div>
            <div class="bar-3"></div>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <li class="{{ class }}">
                <a class="nav-link text-white" href="/">BACK HOME</a>
            </li>

        </ul>

    </div>
</nav>