<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div id="counter-container" class="container-fluid">
    <div class="row text-center counter-content">
        <div class="col-md-3 col-sm-6 col-xs-12 ">
            <div class="counter">
                <i class="fa fa-code fa-2x"></i>
                <h2 class="timer count-title count-number" data-to="13585" data-speed="1500"></h2>
                <p class="count-text ">Lines Of Code</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 ">
            <div class="counter">
                <i class="fa fa-coffee fa-2x"></i>
                <h2 class="timer count-title count-number" data-to="1788" data-speed="1500"></h2>
                <p class="count-text ">Coffe Cups</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 ">
            <div class="counter">
                <i class="fa fa-lightbulb-o fa-2x"></i>
                <h2 class="timer count-title count-number" data-to="4" data-speed="1500"></h2>
                <p class="count-text ">Projects Completed</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 ">
            <div class="counter">
                <i class="fa fa-bug fa-2x"></i>
                <h2 class="timer count-title count-number" data-to="15793" data-speed="1500"></h2>
                <p class="count-text ">Bugs Found</p>
            </div>
        </div>
    </div>
</div>