<section id="footer">
    <div id="footer-container" class="container-fluid text-white">
        <div class="row text-center">
            <div id="social" class="col-xs-12 col-sm-4 col-md-4">
                <h3>Find me on social media</h3>
                <ul>
                    {% for item in site.data.social.media %}
                    <li>
                        <a href="{{item.target}}"><img id="social-svg" src="{{site.baseurl}}/{{item.image}}" alt=""></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h3>Site links</h3>
                <div id="links-list">


                    <nav>
                        <ul>
                            {% for page in site.pages %} {% if page.title %}
                            <li><a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                            {% endif %} {% endfor %}
                            <li><a class="nav-link" href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
                        </ul>
                        </li>
                        </ul>
                    </nav>



                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h3>News</h3>
                <div class="footer-form">
                    <form action="https://submit-form.com/6395a3b5-d8a3-4332-aa2f-ee70607abeb9" class="form-inline justify-content-center">

                        <input type="email" name="email" class="form-control form-control-lg mr-2" placeholder="Enter your email...">

                        <button type="submit" class="btn btn-lg btn-primary">Subscribe</button>

                    </form>
                    <div class="d123form">
                    <!-- www.123formbuilder.com script begins here --><script type="text/javascript" defer src="https://www.123formbuilder.com/embed/4543151.js" data-role="form" data-default-width="650px"></script><!-- www.123formbuilder.com script ends here -->
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>