<section id="footer">
    <div id="footer-container" class="container-fluid text-white">
        <div class="row text-center">
            <div id="social" class="col-xs-12 col-sm-4 col-md-4">
                <h5>Find me on social media</h5>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Site links</h5>
                <div id="links-list">


                    <nav>
                        <ul>
                            {% for page in site.pages %} {% if page.title %}
                            <li><a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                            {% endif %} {% endfor %}
                            <li><a class="nav-link" href="{{ "/ionncelrau" | prepend: site.baseurl }}">Home</a></li>
                        </ul>
                        </li>
                        </ul>
                    </nav>



                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Resources</h5>
            </div>

        </div>

    </div>
</section>