<section id="footer">
    <div id="footer-container" class="container-fluid text-white">
        <div class="row text-center">
            <div id="social" class="col-xs-12 col-sm-4 col-md-4">
                <h5>Find me on social media</h5>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Site links</h5>
                <div id="links-list">


                    <ul id="links-link">
                        <li v-for="i in links"><a class="text-white" href="#">{{i.nume}}</a></li>

                    </ul>


                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Resources</h5>
            </div>

        </div>

    </div>
</section>