<nav id="navbar" class="navbar navbar-dark navbar-expand-lg fixed-top">
    <a href="/ionncelrau/" class="navbar-brand">
        <img src="/ionncelrau/assets/img/company-logo.png" width="130" height="60">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% for page in site.pages %} {% if page.url contains 'tags' %}
            {% comment %}Do nothing{% endcomment %}
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
            {% endif %} {% endfor %}

    </div>



</nav>