<div class="container-fluid">
    <div class="container">
        <div class="row location-wrapper">
            <div class="col-md-6 text-center">
                <h1>Contact</h1>
                <div class="col-md-12 text-left contact">
                    <span class="flaticon-smartphone"> Call us +40 757 59 59 77</span>
                    <br>
                    <span class="flaticon-paper-plane"> Mail us at <a href="mailto:ionncelrau@gmail.com">office@ionncelrau.com</a></span>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <h1>Location</h1>
                <div class="map">
                    <div class="mapouter text-center">
                        <div class="gmap_canvas"><iframe width="300" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=gheorghe%20doja%20131&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
                        <style>
                            .mapouter {
                                text-align: center;
                                height: 350px;
                                width: 100%;
                            }

                            .gmap_canvas {
                                overflow: hidden;
                                background: none !important;
                                height: 300px;
                                width: 100%;
                            }
                        </style>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>