<div class="row prezentare">
    <div class="before"></div>
    <div id="middle-wrap" class="container-fluid text-center">
        <div class="col-lg-12 text-center present">
            <div class="text-white">
                <p> <strong>Vrei sa ai propriul tau blog?</strong></p>
            </div>
        </div>
    </div>
    <div class="before"></div>
    <div id="middle-wrap2" class="container-fluid text-center">
        <div class="col-lg-12 text-center present">
            <div class="text-white">
                <p><strong>Poti face totul singur si gratuit!</strong></p>
            </div>
        </div>
    </div>
    <div class="before"></div>
    <div id="middle-wrap3" class="container-fluid text-center">
        <div class="col-lg-12 text-center present">
            <div class="text-white">
                <p><strong>In articolele mele vei vedea cum am procedat eu.</strong></p>
            </div>
        </div>
    </div>
</div>