<div class="row prezentare">
    <div class="before"></div>
    <div id="middle-wrap" class="container-fluid text-center">
        <div class="col-lg-12 text-center present">
            <div class="text-white">
                <p> <strong>Want your business to go boom?</strong></p>
            </div>
        </div>
    </div>
    <div class="before"></div>
    <div id="middle-wrap2" class="container-fluid text-center">
        <div class="col-lg-12 text-center present">
            <div class="text-white">
                <p><strong>Make it look easy with Ionncelrau Solutions!</strong></p>
            </div>
        </div>
    </div>
    <div class="before"></div>
    <div id="middle-wrap3" class="container-fluid text-center">
        <div class="col-lg-12 text-center present">
            <div class="text-white">
                <p><strong>You do not have to take our word for it <br>
                        Look at what our happy customers said!</strong></p>
            </div>
        </div>
    </div>
</div>