<div class="row prezentare">
    <div class="before"></div>
    <div id="middle-wrap" class="container-fluid text-center">
        <div class="col-lg-12 text-center present">
            <div class="text-white">
                <p> <strong>Ai o afacere micuta pe Shopify?</strong></p>
            </div>
        </div>
    </div>
    <div class="before"></div>
    <div id="middle-wrap2" class="container-fluid text-center">
        <div class="col-lg-12 text-center present">
            <div class="text-white">
                <p><strong>Te folosesti de plata la livrare?</strong></p>
            </div>
        </div>
    </div>
    <div class="before"></div>
    <div id="middle-wrap3" class="container-fluid text-center">
        <div class="col-lg-12 text-center present">
            <div class="text-white">
                <p><strong>Creeaza o experienta mai simpla pentru clientii tai!</strong></p>
            </div>
        </div>
    </div>
</div>