<div id="mymodal1" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">

                <p>Write me a message</p>

            </div>
            <div class="modal-body form-group text-center">

                <form action="https://formspree.io/ionncelrau@gmail.com" method="POST">
                    Yor name<br>

                    <input class="form-comtrol form-control-sm" type="text" name="name"><br>
                    Your E-mail<br>

                    <input class="form-comtrol form-control-sm" type="email" name="_replyto"><br>
                    Message for me<br>

                    <input class="form-comtrol form-control-lg" id="mess" type="text" name="message"><br>
                    <br><br>

                    <input class="btn btn-primary mb-2" type="submit" value="send"><br>

            </div>
            <div class="modal-footer">
                2018 &copy;Bogdan Hiriscau
            </div>
        </div>
    </div>
</div>