<div class="container-fluid projects-wrapper">
    <div class="container">
        <div class="col-lg-12">
            <h1>Mai multe despre acest proiect</h1>
        </div>
        <div class="card-group vgr-cards">
            <div class="card">
                <div class="card-img-body">
                    <img class="card-img" src="/assets/img/checkout.png" alt="computer">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Simplitate</h4>
                    <p class="card-text">In ziua de astazi exista o multitudine de platforme care iti permit crearea si editarea
                        site-urilor web sub forma de drag-and-drop. Este simplu pentru prima incursiune in lumea web, insa
                        de cele mai multe ori aceasta simplitate nu vine gratis si nici nu iti ofera un control deplin asupra
                        propriului tau site.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-img-body">
                    <img class="card-img" src="/assets/img/discount.png" alt="computer">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Dezvoltare</h4>
                    <p class="card-text">Marele avantaj de a crea totul de la zero vine odata cu multitudinea de cunostinte
                        pe care le vei dobandi odata ce vei avea propriul site functional. Nu trebuie sa fie gata intr-o zi sau doua,
                        probabil iti va lua mult mai mult timp, insa nu te va costa nimic si vei avea libertatea sa faci ce doresti 
                        fara restrictii.
                    </p>
                </div>
            </div>
        <div class="card">
            <div class="card-img-body">
                <img class="card-img" src="/assets/img/phoneandlaptop.jpg" alt="computer">
            </div>
            <div class="card-body">
                <h4 class="card-title">Costuri</h4>
                <p class="card-text">Nu te costa nimic! Vei vedea din articolele mele ca nu te costa nimic sa inveti, 
                    sa publici si sa lansezi un site web. Tot ce trebuie sa investesti este timp si multa cafea.
                </p>
            </div>
        </div>
        <div class="card">
                <div class="card-img-body">
                        <img class="card-img" src="/assets/img/company-logo.png" alt="computer">
                    </div>
            <div class="card-body">
                <h4 class="card-title">Proiect in desfasurare</h4>
                <p class="card-text">Proiectul meu este inca in dezvoltare. Voi adauga articole si continut util
                    cu fiecare ocazie, nu doar despre acest proiect, ci si despre mine, fiind si blog-ul meu personal.
                    Daca doresti o colaborare mai indeaproape cu mine, sau ai vreun proiect cu care ai avea nevoie de ajutor
                    nu ezita sa ma contactezi.
                </p>
            </div>
        </div>
    </div>
</div>
</div>