<div class="container-fluid projects-wrapper">
    <div class="container">
        <div class="col-lg-12">
            <h1>Mai multe despre acest proiect</h1>
        </div>
        <div class="card-group vgr-cards">
            <div class="card">
                <div class="card-img-body">
                    <img class="card-img" src="/assets/img/checkout.png" alt="computer">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Simplifica procesul</h4>
                    <p class="card-text">In loc de multiplii pasi necesari pentru a plasa o comanda trecand prin
                        procesul
                        de checkout al Shopify, totul se reduce la un singur pas! Comanda se poate trimite direct din
                        cosul de
                        cumparaturi!
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-img-body">
                    <img class="card-img" src="/assets/img/discount.png" alt="computer">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Aplica discount</h4>
                    <p class="card-text">Acum clientii dumneavoastra pot aplica discount-urile direct in cos, iar pretul
                        se actualizeaza automat. De asemenea in cazul in care costul livrarii se calculeaza in functie
                        de valoare
                        acesta este afisat in cos, nemaifiind nevoie de mai multi pasi doar pentru a afla valoarea
                        transportului.
                    </p>
                </div>
            </div>
        <div class="card">
            <div class="card-img-body">
                <img class="card-img" src="/assets/img/phoneandlaptop.jpg" alt="computer">
            </div>
            <div class="card-body">
                <h4 class="card-title">Design responisve</h4>
                <p class="card-text">Design-ul este 100% responsive, integrand-use perfect atat pe dispozitive mobile,
                    cat si pe device-uri ce afisaj mai mare. Lucram in permanenta pentru a face totul cat mai prietenos
                    si usor
                    de utilizat!
                </p>
            </div>
        </div>
        <div class="card">
                <div class="card-img-body">
                        <img class="card-img" src="/assets/img/company-logo.png" alt="computer">
                    </div>
            <div class="card-body">
                <h4 class="card-title">Proiect in desfasurare</h4>
                <p class="card-text">Proiectul se afla inca intr-o faza de dezvoltare si testare. Aceasta prezentare 
                    ne ajuta sa adunam mai multe informatii legate de dezvoltarea si viitorul proiectului. Daca doresti sa vezi
                    cum functioneaza, contacteaza-ne si vom face tot posibilul sa iti aratam cum functioneaza!
                </p>
            </div>
        </div>
    </div>
</div>
</div>