<div class="container-fluid projects-wrapper">
    <div class="container">
        <div class="col-lg-12">
            <h1>Mai multe despre acest proiect</h1>
        </div>
        <div col-sm-6><img class="img-responsive" src="{{site.baseurl}}/assets/img/checkout.png" alt="checout"></div>
        <div col-sm-6>Pune Totul pe o singura pagina ca totul sa fie cat mai simplu pentru clientii tai</div>
        <div class="clearfix visible-xs-block"></div>
        <div col-sm-6><img class="img-responsive" src="{{site.baseurl}}/assets/img/checkout.png" alt="checout"></div>
        <div col-sm-6>Securitate si siguranta sporita! Datele introduse nu sunt stocate si nici citite, informatia fiind trimisa direct catre end=point-ul Shopify</div>
        <div class="clearfix visible-xs-block"></div>
        <div col-sm-6><img class="img-responsive" src="{{site.baseurl}}/assets/img/checkout.png" alt="checout"></div>
        <div col-sm-6>Aplicatia creeaza o comanda cu plata in asteptare, nu este un sale-channel, nu proceseaza plati, nu este integrata cu vreu procesator de plati, doar face ca experienta clientului sa fie una mai simpla</div>
        <div class="clearfix visible-xs-block"></div>
        </div>
</div>