<div class="container-fluid skills-wrapper">
    <div class="container skills">
        <div class="row">
            <div class="col-md-4 skill">
                <div class="icon text-center">
                    <span class="flaticon-smartphone"></span>
                </div>
                <div class="description text-center">
                    <p>Everything we design is mobile and tablet friendly</p>
                    <p>Our websites are built mobile-first and work on every browser</p>
                </div>
                <div class="skills-button text-center">
                    <a href="#">Learn More</a>
                </div>
            </div>
            <div class="col-md-4 skill">
                <div class="icon text-center">
                    <span class="flaticon-settings-5"></span>
                </div>
                <div class="description text-center">
                    <p>Our goal is to make everything work</p>
                    <p>If you need it we can build it</p>
                </div>
                <div class="skills-button text-center">
                    <a href="#">Learn More</a>
                </div>
            </div>
            <div class="col-md-4 skill">
                <div class="icon text-center">
                    <span class="flaticon-paper-plane-1"></span>
                </div>
                <div class="description text-center">
                    <p>We help you launch you on the web</p>
                    <p>And offer long-term support for your project</p>
                </div>
                <div class="skills-button text-center">
                    <a href="#">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>