<div class="container-fluid skills-wrapper">
    <div class="container skills">
        <div class="row">
            <div class="col-md-4 skill">
                <div class="icon text-center">
                    <span class="flaticon-smartphone"></span>
                </div>
                <div class="description text-center">
                    <p>Un design responsive</p>
                    <p>O aplicatie ce se integreaza perfect pe orice dispozitiv</p>
                </div>
                <!-- <div class="skills-button text-center">
                    <a href="#">Vezi mai mult</a>
                </div> -->
            </div>
            <div class="col-md-4 skill">
                <div class="icon text-center">
                    <span class="flaticon-settings-5"></span>
                </div>
                <div class="description text-center">
                    <p>Instalare usoara</p>
                    <p>Configurare usoara</p>
                </div>
                <!-- <div class="skills-button text-center">
                    <a href="#">Vezi mai mult</a>
                </div> -->
            </div>
            <div class="col-md-4 skill">
                <div class="icon text-center">
                    <span class="flaticon-paper-plane-1"></span>
                </div>
                <div class="description text-center">
                    <p>Rapiditate sporita</p>
                    <p>Plaseaza comenzi cat ai clipi</p>
                </div>
                <!-- <div class="skills-button text-center">
                    <a href="#">Vezi mai mult</a>
                </div> -->
            </div>
        </div>
    </div>
</div>