<div class="container-fluid skills-wrapper">
    <div class="container skills">
        <div class="row">
            <div class="col-md-4 skill">
                <div class="icon text-center">
                    <span class="flaticon-smartphone"></span>
                </div>
                <div class="description text-center">
                    <p>Posteaza din mers!</p>
                    <p>Postezi articole de oriunde, de pe telefon, laptop sau tableta.</p>
                </div>
                <!-- <div class="skills-button text-center">
                    <a href="#">Vezi mai mult</a>
                </div> -->
            </div>
            <div class="col-md-4 skill">
                <div class="icon text-center">
                    <span class="flaticon-settings-5"></span>
                </div>
                <div class="description text-center">
                    <p>Instalare usoara!</p>
                    <p>Nu ai nevoie de cunostinte avansate pentru a crea si mentine propriul tau blog</p>
                </div>
                <!-- <div class="skills-button text-center">
                    <a href="#">Vezi mai mult</a>
                </div> -->
            </div>
            <div class="col-md-4 skill">
                <div class="icon text-center">
                    <span class="flaticon-paper-plane-1"></span>
                </div>
                <div class="description text-center">
                    <p>Fa-te cunoscut in lume!</p>
                    <p>Arata lumii ceea ce sti tu. Fie ca e vorba de calatorii, gatit sau pur si simplu povestea ta</p>
                </div>
                <!-- <div class="skills-button text-center">
                    <a href="#">Vezi mai mult</a>
                </div> -->
            </div>
        </div>
    </div>
</div>