<div class="container-fluid testimonials-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center testimonials-title">Testimoniale</h1>
            </div>
            <!-- {% assign test = site.data.testimonials %}
            {% for item in test %}
            <div class="col-md-3 col-xs-12 mes">
                <div class="card">
                    <div class="message-wrap">
                        <div class="message text-center">
                            <h4>"{{item.message}}"</h4>
                        </div>
                    </div>
                    <div class="owner">
                        <p>{{item.owner}}, CEO of {{item.website}}</p>
                    </div>
                </div>
            </div>
            {% endfor %} -->
            <div class="col-lg-12">
                <h3 class="text-center text-white">Trimite-ne parerea ta si o vom afisa aici!
                    </h1>
            </div>
        </div>
    </div>
</div>