.page-background {
  height: 30vh;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

#pics a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
}

button:hover,
a:hover {
  opacity: 1;
}
.cacao {
  height: 150vh;
  background: url("/ionncelrau/assets/img/cacao.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#titlu2 {
  padding: 20px;
  font-size: 48px;
  font-weight: bold;
}
#content {
  display: block;
  color: blueviolet;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.sticky + .text-center {
  padding-top: 102px;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
  min-width: 100%;
}
#sticky-nav {
  background-color: rgba(49, 43, 43, 0.5);
}
.nav-link {
  color: aliceblue;
}
.text-white {
  color: white;
  font-size: 24px;
}
.post-container .post-image-caption {
  position: absolute;
  /* Position the background text */
  bottom: 0;
  /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0);
  /* Fallback color */
  background: rgba(0, 0, 0, 0.5);
  /* Black background with 0.5 opacity */
  color: #f1f1f1;
  /* Grey text */
  min-width: 100%;
  /* Full width */
  padding: 20px;
  /* Some padding */
}

.post-container {
  padding: 5% !important;
}

.post-image {
  transition: all 0.2s ease-in-out;
}

.post-image:hover {
  transform: scale(1.1);
}
.footer-form {
  width: 70%;
  text-align: center;
}
#social-media {
  position: fixed;
  max-width: 5%;
  bottom: 5vw;
  padding: 68px;
  right: 1vw;
  font-size: 2vw;

  opacity: 1;
  overflow-x: hidden;
  z-index: 102;
  margin-right: 0;
}
@media screen and (max-width: 600px) {
  #social-media svg {
    height: 28px;
    width: 28px;

    right: 4vw;
  }
}
#social-svg {
  height: 55px;
  width: 55px;
}
#social ul li {
  list-style: none;
  display: inline;
  padding: 20px;
}
#social ul {
  margin-top: 3vw;
}
#social {
  text-align: center;
}
