.jumbotron {
  background-image: url("https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?cs=srgb&dl=forest-haze-landscape-39811.jpg&fm=jpg");
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 200px;
  height: 300px;
  color: rgb(6, 2, 36);
  z-index: -1;
  filter: blur(3px);
  filter: opacity(0.8);
  width: 100%;
  border-radius: 0;
}
#ah1 {
  z-index: 999;
  filter: blur(-1px);
  font-weight: 500;
}
.text-white {
  color: white;
  font-size: 24px;
}
.chenar-poza {
  background-image: url("https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?cs=srgb&dl=forest-haze-landscape-39811.jpg&fm=jpg");
  height: 200px;
  color: aliceblue;
}
body {
  background-color: rgb(243, 240, 235);
  width: 100%;
}

.nav-link {
  color: aliceblue;
}

#carouselExampleFade {
  width: 30%;
  height: 30%;
  margin-right: auto;
  margin-left: auto;
}
.page-background {
  background: url("https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?cs=srgb&dl=ai-blur-codes-577585.jpg&fm=jpg")
    no-repeat center center;

  background-size: cover;

  height: 100vh;
  display: none;
}
@keyframes height {
  from {
    height: 100vh;
  }
  to {
    height: 0vh;
  }
}
.carousel-inner {
  min-height: 300px;
  max-height: 300px;
  overflow: hidden;
}
.page-background-clicked {
  height: 0vh;
  animation: height 1s;
}
#titlu {
  display: none;
  padding: 20px;
  font-size: 48px;
  font-weight: bold;
}

.cta {
  position: absolute;
  max-width: 40vw;
  top: 1vw;
  left: 1vw;

  /* transform: translateY(-35%); */
}
@media screen and (max-width: 600px) {
  .cta {
    top: 5%;
    max-width: 10vw;
    display: none;
  }
  .cta p {
    display: none;
  }
  .cta h1 {
    display: none;
  }
  .cta form {
    display: none;
  }
  .cta button {
    display: none;
  }
}

#inchide {
  margin-top: 20px;
}
#footer {
  background-size: cover;
  bottom: 0;
  margin-bottom: 0;
  background-position: bottom;
  background: url("https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?cs=srgb&dl=ai-blur-codes-577585.jpg&fm=jpg");
}
.modal-header,
.modal-footer {
  background-color: black;
  color: white;
  font-size: 18px;
  text-align: center;
  display: block;
}
#blog-list ul li {
  list-style: none;
}
#blog-list a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: inherit;
  text-align: center;
}
#blog-list ul li p {
  font-size: 1.4rem;
}
#blog-description p {
  font-size: 1.4rem;
}
#blog-description {
  padding: 0;
}

#pics .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}
@media screen and (max-width: 600px) {
  #pics .content {
    padding: 1px;
  }
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.img-wrapper {
  min-width: 100%;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-top: 0;
}
#navbar {
  background-color: rgba(49, 43, 43, 0.5);
}
.img-wrapper {
  position: relative;
}
#intro-text {
  max-width: 40%;
  position: absolute;
  bottom: 55vw;
  padding: 20px;
  right: 0;
  font-size: 3vw;
  display: none;
  margin-left: -155vw;
  opacity: 0;
  overflow-x: hidden;
}
#intro-text2 {
  position: absolute;
  max-width: 45%;
  bottom: 36vw;
  padding: 20px;
  right: 0;
  font-size: 2vw;
  display: none;
  margin-left: -155vw;
  opacity: 0;
  overflow-x: hidden;
}

#intro-text3 {
  position: absolute;
  max-width: 65%;
  bottom: 2vw;
  padding: 20px;
  right: 0;
  font-size: 2vw;
  display: none;
  margin-left: -100vw;
  opacity: 0;
  overflow-x: hidden;
}
#social-media {
  position: fixed;
  max-width: 5%;
  bottom: 5vw;
  padding: 20px;
  right: 0;
  font-size: 2vw;
  /* display: none; */
  /* margin-left: -40vw; */
  opacity: 1;
  overflow-x: hidden;
  z-index: 102;
}
